DATABASE_URL="mongodb+srv://user:pass@cluster.mongodb.net/docusign?retryWrites=true&w=majority"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_xxx"
RESEND_API_KEY="re_xxx"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
